<!DOCTYPE html>
<html>
    <head>
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>Registration Form</h1>
            </div>

            <div class="row-fluid">

                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="firstname">First Name</label>
                        <div class="controls">
                            <input type="text" id="firstname" name="firstname" pattern="[a-zA-Z]{3,}" required="required" title="Enter minmimum 3 letters.">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastname">Last Name</label>
                        <div class="controls">
                            <input type="text" id="lastname" name="lastname" pattern="[a-zA-Z]{3,}" required="required" title="Enter minmimum 3 letters.">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input type="email" id="email" name="email" title="Please, enter a valid email" required="required">
                        </div>
                    </div>                    

                    <div class="control-group">
                        <label class="control-label" for="email">Company</label>
                        <div class="controls">
                            <select>
                                <option> - Select your company </option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>   

                    <div class="row-fluid">
                        <div class="span6">

                            <div class="control-group">
                                <label class="control-label" for="division">Division</label>
                                <div class="controls">
                                    <select>
                                        <option> - Select your division </option>

                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div> 
                        </div> 
                        <div class="span6">        

                            <div class="control-group">
                                <label class="control-label" for="companyname">Company Name</label>
                                <div class="controls">
                                    <input type="text" id="companyname" class="companyname" pattern="[a-zA-Z0-9]">
                                </div>
                            </div>       
                        </div>       
                    </div>       
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" pattern="[a-zA-Z0-9]{6,}" title="Minimum 6 letters or numbers." required required="required">
                        </div>
                    </div>                        
                    <div class="control-group">
                        <label class="control-label" for="passwordconf">Password Confirmation</label>
                        <div class="controls">
                            <input type="password" id="passwordconf" name="passwordconf" required="required">
                        </div>
                    </div>                        
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn validate">Submit</button>
                            <button type="button" class="btn clear">Clear</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div id="footer">
            <div class="container">

            </div>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function() {
 
                $('.validate').click(function(){
                    var err = 0;
                    
                    var company = $('#company').val();
                    var division = $('#division').val();
                    var companyname = $('#companyname').val();

                    var password = $('#password').val();
                    var passwordconf = $('#passwordconf').val();
                    
                    if (password != passwordconf){
                        $("label[for='passwordconf']").text("Passwords must match");
                        $("label[for='passwordconf']").css('color', 'crimson');
                        return false;
                    }
         
                });
    
            })
        </script>        

        </body>
        </html>